
<%= paginator.render do -%>
  <div class="row">
    <div class="columns large-12">
      <div class="prev-next-posts">
        <%= prev_page_tag %>
        <%= next_page_tag %>
      </div>
    </div>
  </div>
<% end -%>
