@media only screen {
  .home-mobile-link { display: none; }
  .landing-blue{
    background:#18A0FB;
  }
  .landing-gray{
    background:#F2F2F2;
    color:#18A0FB;
  }
  
  
   nav.shrink{
    background:$white;
    height: rem-calc(75);
    transition: all ease 1s;
    opacity:0.9;
    position: fixed;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .10);
    -moz-box-shadow:    0 0 0 1px rgba(0, 0, 0, .10);
    box-shadow:         0 0 0 1px rgba(0, 0, 0, .10);
    .img-logo{
       background: asset-url('Logo_Horizontal.png') no-repeat;
         background-size:cover;
         height:30px;
         width:165px;
         z-index: 2;  
    }
    h2{
      color:#4C4C4D !important;
      font-family:lato;
      font-weight:0;
    }
    
    ul.menu {
      
      .dropbtn {color: #4c4c4d; }
      
      li.menu-item {
        a {
          color: #4c4c4d;
          &.button {
            color: $white;
          }
        }
      }
       
    
    
     
    }
  }
  
  nav {
    background:transparent;
    //background: linear-gradient(180deg, rgba(0,0,0,0.9) 0%, rgba(10,10,10,0.6)40%, rgba(10,10,10,0.4) 60%, rgba(10, 10, 10, 0.2) 80%, rgba(10, 10, 10, 0) 100%);
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    height: rem-calc(75);
    z-index: 1;
    
    
    
    .navbar-container {
      margin: 0 auto;
      width: 95%;
      display: flex;
      justify-content: space-between;
    div{
      display:inline-flex;
    }
      
    }
    
    .navbar-header {
      display: inline-block;
      
      .img-logo{
         background: asset-url('Logo_Horizontal.png') no-repeat;
         background-size:cover;
         height:30px;
         width:165px;
         padding-right:5px;
         padding-top:7px;
         margin-top:25px;
         margin-right:35px;
         position:relative;
         z-index: 2;  
      }
    }
    li > a {
      font-size: rem-calc(14);
      font-weight: 400;
      line-height: rem-calc(55);
      position: relative;
    }

    ul.menu {
      float: none;
      margin: 0;
      list-style-type: none;
      
      li.menu-item {
        letter-spacing: normal;
        display: inline-block;
        margin-top:10px;
        
        a {
          color:  #000000;
          font-weight:600;
          display: block;
          font-size: rem-calc(16);
          padding-left: rem-calc(18);
          padding-right: rem-calc(18);
        
        

          &.button {
            color: $white;
            padding: rem-calc(8) rem-calc(16);
            margin-top: rem-calc(11);
            margin-left: rem-calc(17);
            width:auto;
          }
        }
        a:hover{
          text-decoration:underline;
        }  
      }
      
      .menu-footer { display: none; }
      li.menu-item#success{
      
      .success{
      background: #3f3f3f;
      color:$white;
      }
    }
    
    
      .dropbtn {
        
        color: black;
        cursor: pointer;
        margin-top:23px;
        font-size:16px;
        font-weight:bold;
        padding-left: 1.125rem;
        padding-right: 1.0rem;
        i{
          font-size:15px;
          margin: 5px 0 0 3px;
        }
        
        img{
          width:25px;
          height:25px;
          color:rgba(255, 255, 255, 0.6);
          margin-top:3px;
        }
        
        
      }
      .dropbtn:hover{
        text-decoration:underline;
        
      }
      
      .dropbtn#droptoggle{
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom:2px;
      }
      
      .dropbtn#droptoggle:hover{
        border-bottom:1px solid black;
        width:fit-content;
      }
      
      
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: $white;
        min-width: 130px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius: 12px;
        margin-top: 10px;
        
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 16px;
      }
      
      .dropdown a:hover {background-color: #F2F2F2;}
      
      .show {display: block;}
    
    }
    
   
    
  }

  nav#year-navigation, nav.shrink#year-navigation {
    position: relative;
    height: fit-content;

    &.fixed-top {
      position: fixed;
      top: 4.6875rem;
    }

    .navbar-container {
      width: 100%;
      background:rgba(0, 0, 0, 0.9);
      ul.menu {
        float: none;
        width: 804px;
        margin: 0 auto;
        padding: 0;
        position: unset;
        list-style-type: none;
        .menu-item {
          margin-top: 0;
          display: inline-block;
          width: unset;

          a {
            color: white;
            padding: 0px 2.3rem;
          }

          &.active, &:hover {
            a {
              background-color: #18A0FB;
              color: #fff;
            }
          }
        }
      }
    }
  }

  .year-background {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;

    .year-content {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 40vw;
      color: #eee;
      text-align: center;
      width: 100%;
      z-index: -1;
      font-weight: bold;
      line-height: 0.9em;
    }
  }

  @media only screen and (max-width:768px) {
     
    nav#year-navigation, nav.shrink#year-navigation {
      overflow-x: auto;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none;
      
      &::-webkit-scrollbar {
        display: none;
      }
      
    }
  }

  @media only screen and (min-width:769px) {
    .year-background.d-block {
      display: block;
    }
  }

  a.mobile-menu {
    color: $secondary-color;
    display: none;
    font-size: rem-calc(30);
    line-height: rem-calc(70);
    float: right;
  }

}

@media only screen and (min-width:320px) {
  nav.shrink{
      
      .img-logo{
        
        background-size:cover ;
        height:25px;
        width:138px;
        margin:24px 0 0 0;
      }
      
  }
  
  nav {
    .navbar-header {
      .img-logo{
         
         background-size:cover;
         height:25px;
         width:138px;
      }
  }
  }
}

@media only screen and (min-width:480px) {}

@media only screen and (min-width:768px) {}

@media only screen and (min-width:1024px) {
  nav.shrink{
      .img-logo{
        background-size:cover !important ;
        height:25px;
        width:138px;
        margin-right:35px;
      }
  }
  nav {
      .img-logo{
         .navbar-header {
         background-size:cover;
         height:25px;
         width:138px;
      }
      }
  } 
}

@media only screen and (min-width:1140px) {
  

}
@media only screen and (min-width:1440px) {
  
}

@media only screen and (min-width:1960px) {


}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {}
