.mt-- { margin-top: rem-calc(30) !important; }
.mr-- { margin-right: rem-calc(30) !important; }
.mb-- { margin-bottom: rem-calc(30) !important; }
.ml-- { margin-left: rem-calc(30) !important; }

.mt- { margin-top: rem-calc(20) !important; }
.mr- { margin-right: rem-calc(20) !important; }
.mb- { margin-bottom: rem-calc(20) !important; }
.ml- { margin-left: rem-calc(20) !important; }

.mt { margin-top: rem-calc(15) !important; }
.mr { margin-right: rem-calc(15) !important; }
.mb { margin-bottom: rem-calc(15) !important; }
.ml { margin-left: rem-calc(15) !important; }

.m-t { margin-top: rem-calc(10) !important; }
.m-r { margin-right: rem-calc(10) !important; }
.m-b { margin-bottom: rem-calc(10) !important; }
.m-l { margin-left: rem-calc(10) !important; }

.m--t { margin-top: rem-calc(5) !important; }
.m--r { margin-right: rem-calc(5) !important; }
.m--b { margin-bottom: rem-calc(5) !important; }
.m--l { margin-left: rem-calc(5) !important; }

.pt-- { padding-top: rem-calc(30) !important; }
.pr-- { padding-right: rem-calc(30) !important; }
.pb-- { padding-bottom: rem-calc(30) !important; }
.pl-- { padding-left: rem-calc(30) !important; }

.pt- { padding-top: rem-calc(20) !important; }
.pr- { padding-right: rem-calc(20) !important; }
.pb- { padding-bottom: rem-calc(20) !important; }
.pl- { padding-left: rem-calc(20) !important; }

.pt { padding-top: rem-calc(15) !important; }
.pr { padding-right: rem-calc(15) !important; }
.pb { padding-bottom: rem-calc(15) !important; }
.pl { padding-left: rem-calc(15) !important; }

.p-t { padding-top: rem-calc(10) !important; }
.p-r { padding-right: rem-calc(10) !important; }
.p-b { padding-bottom: rem-calc(10) !important; }
.p-l { padding-left: rem-calc(10) !important; }

.p--t { padding-top: rem-calc(5) !important; }
.p--r { padding-right: rem-calc(5) !important; }
.p--b { padding-bottom: rem-calc(5) !important; }
.p--l { padding-left: rem-calc(5) !important; }

.no-margin { margin: 0 !important; }
.no-margin-top { margin-top: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
