 
 $primary-color   : #5ecbee;
 $secondary-color : #f26841;
 $error-color     : #4c4c4d;
 $light-primary   : #b9e2eb;
// $white           : #f7f9f3;
// $white           : #f8fcff;
 $white           : #ffffff;
 $header-color    : #000000;//#34441d;
 $black           : #0d2325;
 $body-font-color : #4b4d49;
// $body-bg         : #f7f9f3;
// $body-bg         : #f8fcff;
 $body-bg         : #ffffff;
$mobile-nav-width: rem-calc(375);
$animation-time: 400ms;
$animation-function: ease;
