@media only screen {
  #contact {
    

    #locations, #resources {
      h3, h4, h5, li { text-align: center; }
    }

    #resources {
      .health-care, .industrial-careers {
        padding-left: rem-calc(80);
        position: relative;

        &:before {
          background-size: 90%;
          background-repeat: no-repeat;
          background-position: center center;
          display: inline-block;
          content: '';
          height: rem-calc(80);
          width: rem-calc(80);
          position: absolute;
          left: 0;
        }
      }

      .health-care:before { background-image: asset-url('health-care.png'); }
      .industrial-careers:before { background-image: asset-url('industrial-careers.png'); }
      h3, h5 { line-height: rem-calc(80); }
      a { margin-left: rem-calc(15); }
    }

  }
}

@media only screen and (min-width:320px) {}

@media only screen and (min-width:480px) {
  #contact {
    #locations, #resources {
      h3, h4, h5, li { text-align: left; }
    }
  }
}

@media only screen and (min-width:768px) {}

@media only screen and (min-width:1024px) {}

@media only screen and (min-width:1140px) {}

@media only screen and (min-width:1280px) {}

@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {}
